	*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
background:#071f63;
color:#f5f2eb;
font-family:'Montserrat',sans-serif;
overflow-x:hidden;
}

#intro{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#071f63;
z-index:99999;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.intro-content h1{
font-family:'Great Vibes',cursive;
font-size:4rem;
color:#f7d774;
}

.intro-content h2{
color:#f5f2eb;
margin:20px 0;
}

#abrirInvitacion{
padding:15px 35px;
border:none;
border-radius:50px;
background:#f7d774;
color:#071f63;
font-weight:bold;
cursor:pointer;
font-size:1rem;
}

/* PORTADA */

.hero{
position:relative;
width:100%;
min-height:100vh;
overflow:visible;
display:flex;
justify-content:center;
align-items:center;
}

.portada{
width:100%;
max-width:1400px;
height:auto;
display:block;
margin:auto;
}

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
.overlay{
background:linear-gradient(
rgba(7,31,99,.25),
rgba(7,31,99,.55)
);
}

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;
padding:20px;
color:white;
}

.overlay h1{
font-family:'Great Vibes',cursive;
font-size:4.2rem;
margin-bottom:25px;
text-shadow:0 0 20px rgba(0,0,0,.6);
line-height:1.2;
}

.overlay h2{
font-size:2rem;
letter-spacing:3px;
margin-bottom:35px;
color:#f7d774;
}

.frase{
max-width:700px;
font-size:1.3rem;
line-height:1.8;
margin-bottom:30px;
padding:0 20px;
}

.fecha{
font-size:1.5rem;
font-weight:bold;
}

/* SECCIONES */

section{
padding:80px 20px;
text-align:center;
}

section h2{
font-family:'Great Vibes',cursive;
font-size:3rem;
color:#f7d774;
margin-bottom:25px;
}

section p{
font-size:1.1rem;
line-height:1.8;
}

/* CONTADOR */

.contador{
background:#071f63;
padding:80px 20px;
}

#countdown{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
margin-top:30px;
}

#countdown div{
background:rgba(255,255,255,.12);
backdrop-filter:blur(8px);
padding:20px;
border-radius:20px;
width:130px;
border:1px solid rgba(255,255,255,.2);
}

#countdown span{
font-size:2.4rem;
font-weight:bold;
color:#f7d774;
}

/* EVENTOS */

.evento{
background:#071f63;
color:#f5f2eb;
padding:80px 20px;
}

.boton{
display:inline-block;
margin-top:20px;
padding:14px 30px;

background:#9c6ade;
color:#f5f2eb;

text-decoration:none;
border-radius:40px;

transition:.3s;
}

.boton:hover{
transform:scale(1.05);
background:#7d4ac5;
}

/* GALERIA */

.galeria{
background:#071f63;
padding:80px 20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
margin-top:30px;
}

.grid img{
width:100%;
height:auto;
max-height:600px;
object-fit:contain;
background:rgba(255,255,255,.08);
border-radius:20px;
padding:10px;
}

.grid img:hover{
transform:scale(1.05);
}

/* VESTIMENTA */

.vestimenta{
background:#071f63;
color;
}

.ticket{

max-width:550px;
margin:auto;

padding:40px;

background:
linear-gradient(
135deg,
rgba(247,215,116,.15),
rgba(255,255,255,.05)
);

border:2px solid #f7d774;

border-radius:25px;

box-shadow:
0 0 30px rgba(247,215,116,.2);

}

.ticket-top{

font-size:.9rem;
letter-spacing:4px;

margin-bottom:15px;

color:#f7d774;

}

.ticket h3{

font-size:2rem;

margin-bottom:20px;

color:#f7d774;

}

/* WHATSAPP */

.whatsapp{
display:inline-block;
padding:15px 35px;

background:#25D366;
color:#f5f2eb;

font-size:1.1rem;
font-weight:bold;

text-decoration:none;
border-radius:50px;

transition:.3s;
}

.whatsapp:hover{
transform:scale(1.05);
}

/* FINAL */

.final{
background:#071f63;
color:#f5f2eb;
border-top:1px solid rgba(255,215,0,.3);
}

.final h2{
color:#f5f2eb;
}

/* PETALOS */

.petalos{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
z-index:999;
overflow:hidden;
}

.petalo{
position:absolute;
top:-50px;
font-size:24px;
animation:caer linear forwards;
opacity:.9;
}

@keyframes caer{

0%{
transform:translateY(-100px) rotate(0deg);
opacity:1;
}

100%{
transform:translateY(110vh) rotate(360deg);
opacity:0;
}

}

/* RESPONSIVE */

@media(max-width:768px){

.overlay h1{
font-size:3rem;
}

.overlay h2{
font-size:1.4rem;
}

.frase{
font-size:1rem;
}

section h2{
font-size:2.2rem;
}

#countdown div{
width:100px;
}

}

.mensaje,
.padrinos,
.evento,
.galeria,
.vestimenta,
.confirmacion,
.pase{

max-width:1200px;
margin:40px auto;

background:rgba(255,255,255,.05);

backdrop-filter:blur(8px);

border:1px solid rgba(247,215,116,.2);

border-radius:30px;

padding:60px 30px;

box-shadow:0 10px 30px rgba(0,0,0,.25);

}

#intro{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
linear-gradient(
135deg,
#071f63,
#0d2f8f
);

z-index:99999;

display:flex;

justify-content:center;
align-items:center;

text-align:center;

}

.intro-content{

padding:40px;

background:
rgba(255,255,255,.05);

border:

1px solid rgba(247,215,116,.3);

border-radius:30px;

backdrop-filter:blur(10px);

}

.intro-content h1{

font-family:'Great Vibes',cursive;

font-size:4rem;

color:#f7d774;

margin-bottom:20px;

}

.intro-content h2{

color:#f5f2eb;

margin-bottom:30px;

}

#abrirInvitacion{

padding:15px 40px;

border:none;

border-radius:50px;

background:#f7d774;

color:#071f63;

font-weight:bold;

font-size:1rem;

cursor:pointer;

transition:.3s;

}

#abrirInvitacion:hover{

transform:scale(1.05);

}

.ticket{

max-width:550px;

margin:auto;

padding:40px;

background:
linear-gradient(
135deg,
rgba(247,215,116,.15),
rgba(255,255,255,.05)
);

border:2px solid #f7d774;

border-radius:25px;

box-shadow:
0 0 30px rgba(247,215,116,.2);

}

.ticket-top{

font-size:.9rem;

letter-spacing:4px;

margin-bottom:15px;

color:#f7d774;

}

.ticket h3{

font-size:2rem;

margin-bottom:20px;

color:#f7d774;

}